#root{
	width: 450px;
	margin: auto;
	background-color: black;
	color:white;
	padding-right: 25px; 
}

h1{
	text-align: center;
}

li{
	padding-bottom: 10px;
}

.delete{
	float: right;
	color: red;
	cursor: pointer;
}

.inputBar{
	width: 200px;
	margin: auto;
}